<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
     <add key="mysql" value="Database=test;Port=3308;Data Source=localhost;User Id=root;Password="/>
      
     <add key="pwd" value="lcg"/>

    <add key="comm" value="insert into epc_tid (epc,tid) value ("/>
    
    <add key="timeout" value="500"/>
    <!--read_tid模式下为获取epc或者tid超时(ms)-->
    
    <add key="count" value="60"/>
    <!--标签总数-->
    
    <add key="times" value="100000 10 10 10 10 10 10"/>
    <!--read_tid模式下分别为26dBm 20dBm 18.5dBm 17dBm 15.5dBm 14dBm 12.5dBm每个频率下超时时间（ms)-->
    
    <add key="ip" value="192.168.1.200"/>
    
    <add key="model" value="read_tid"/> <!--write模式循环找begin词段文件，然后写值-->
    <!--read_tid模式一次性-->

  </appSettings>
</configuration>
